.boxCentral{
align-items: space-between;
background-color: cornflowerblue;
}
.boxWelcome{
  background-color: lightslategray;
}
.cart-w{
margin-right: 3rem;
}

.material-symbols-outlined{
  font-size: 3rem;
}
.cart-num{
  font-size: 3rem;
}
.itemDiv{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3px;
  justify-content: space-around;
  
  
}
.saludo{
  text-align: center;
  font-size: 3rem;

}